#{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(221, 227, 238);

}

main{
    background-color: white;
    width: 500px;
    margin-aoto;
    padding: 2px;
    box-shadow: 3px 3px black;
}